@{
  ViewData["Title"] = "Home Page";
}

<h1>Add a Review:</h1>

<form action="/reviews/create" method="post">
  <label for="rating">Rating</label>
  <input id="rating" name="rating" type="text">
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <label for="city">City</label>
  <input id="city" name="city" type="number">
  <label for="country">Country</label>
  <input id="country" name="country" type="text">
  <button type="submit">Add!</button>
</form>