@{
  ViewData["Title"] = "Home Page";
}

<h1>Feast your eyes on All the Reviews:</h1>

<ol>
  @foreach (Review review in Model)
  {
    <ul>
      <li>City: @review.City</li>
      <li>Country: @review.Country</li>
      <li>ID: @review.ReviewId</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)">
      <p>View Details</p>
    </a>
    <br>
  }
</ol>