<h1>Search Reviews:</h1>

<form asp-controller="Reviews" asp-action="Search">
  <p>
    Search by City: <input type="text" name="searchString" />
    <input type="submit" value="Search">
  </p>
</form>

@* @if (Model.Any())
  { *@

<ol>
  @foreach (Review review in Model)
  {
    <ul>
      <li>City: @review.City</li>
      <li>Country: @review.Country</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)">
      <p>Details</p>
    </a>
    <br>
  }
</ol>

@* else
  {
  <h3>There are no results</h3>
  } *@