<form asp-controller="Reviews" asp-action="Search">
  <p>
    Search Reviews: <input type="text" name="searchString" />
    <input type="submit" value="Filter">
  </p>
</form>

<ol>
  @foreach (Review review in Model)
  {
    <ul>
      <li>City: @review.City</li>
      <li>Country: @review.Country</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)">
      <p>Details</p>
    </a>
    <br>
  }
</ol>